body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  border-top: 8px solid #F5C85F;
}

.separator {
  width: 3px;
  height: 200px;
  margin: 0 30px;
  background: linear-gradient(to bottom, transparent, #F5C85F, transparent);
}

.logo {
  max-width: 300px;
  width: 85%;
}

.features-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  align-content: center;
  padding: 50px 15px;
  margin-top: 50px;
  background-color: #EEE;
}

.features-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  background-image: url('assets/img/triangle.png');
  background-repeat: repeat-x;
  top: -12px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 300px;
  color: #111;
  font-weight: bold;
  text-align: center;
}

.description {
  color: #999;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  padding: 10px 0;
  background-color: #f5c85f;
  color: white;
}

.subscribe {
  height: 40px;
  width: 100px;
  margin: 25px 0;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.subscribe-input {
  border: none;
  border-radius: 10px;
  height: 35px;
  max-width: 300px;
  width: 55%;
}

/* Media queries */
@media only screen and (max-width: 930px) {
  .features-section {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .separator,
  .phone {
    display: none;
  }
}
